<div class="row">
    <div class="col-md-8 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <legend class="text-center">FORGOT PASSWORD</legend>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #passwordResetEmail required required>
                    </div>
                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-primary btn-lg btn-block mt-3" value="Reset Password" (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>